header{
    max-height: 32px;
}

.main-nav{ 
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    & img{ 
        max-width: 100%;
        width: 12.5rem;  
    }
}

.main-nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;

    &:hover{
        text-decoration: underline;
    }
}

.connected{ 
    display: flex;
    gap: 1rem;   
    margin-right: 5px;

    & p{ font-weight: bold;}
    & i{ 
        font-size: 1.1rem;
        margin-right: 5px;
    }
}
